.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: white;
  background: url('./../public/images/background.png') no-repeat;
  background-position: center;
  background-size: cover;
}